name: 'Module: Packer Build (AWS)'

on:
  workflow_call:
    inputs:
      packer_dir:
        type: string
      matlab_version:
        required: true
        type: string
      skip_build:
        description: 'Mock the build for testing'
        type: boolean
    outputs:
      ami_id:
        description: "The ID of the built AMI"
        value: ${{ jobs.build.outputs.ami_id }}
      region:
        description: "The region where the AMI was built"
        value: ${{ jobs.build.outputs.region }}
    secrets:
      AWS_OIDC_ROLE:
        required: true
env:
    PACKER_VERSION: '1.10.2'
    PACKER_MANIFEST_FILENAME: "${{ inputs.matlab_version }}-manifest.json"
    PACKER_LOG_FILENAME: "${{ inputs.matlab_version }}-packer-build.log"
    PACKER_ARTIFACT_NAME: "${{ inputs.matlab_version }}-packer-artifacts"
    PACKER_RELEASE_CONFIG: "release-config/${{ inputs.matlab_version }}.pkrvars.hcl"

jobs:
  build:
    name: "${{ inputs.matlab_version }}: Packer Build"
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    outputs:
      ami_id: ${{ steps.export.outputs.ami_id }}
      region: ${{ steps.export.outputs.region }}
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS Credentials
        if: inputs.skip_build == false
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Setup Packer
        if: inputs.skip_build == false
        uses: hashicorp/setup-packer@main
        with:
          version: ${{ env.PACKER_VERSION }}

      - name: Run Packer Build
        if: inputs.skip_build == false
        working-directory: ${{ inputs.packer_dir }}
        run: |
          packer init .
          packer build -color=false \
            -var-file=${{ env.PACKER_RELEASE_CONFIG }} \
            . | tee ${{ env.PACKER_LOG_FILENAME }}

      - name: Mock Build
        if: inputs.skip_build == true
        working-directory: ${{ inputs.packer_dir }}
        run: |
          mkdir -p .
          echo "Mock Build Log" > ${{ env.PACKER_LOG_FILENAME }}
          cat <<EOF > ${{ env.PACKER_MANIFEST_FILENAME }}
          {"builds": [{"artifact_id": "us-east-1:ami-06554a9c16731eeb8"}]}
          EOF

      - name: Export Outputs
        id: export
        working-directory: ${{ inputs.packer_dir }}
        run: |
          sudo apt-get install -y jq
          FULL_ID=$(jq -r '.builds[-1].artifact_id' ${{ env.PACKER_MANIFEST_FILENAME }})
          echo "ami_id=$(echo $FULL_ID | cut -d':' -f2)" >> $GITHUB_OUTPUT
          echo "region=$(echo $FULL_ID | cut -d':' -f1)" >> $GITHUB_OUTPUT
      
      - name: Upload Packer Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKER_ARTIFACT_NAME }}
          path: |
            ${{ inputs.packer_dir }}/${{ env.PACKER_MANIFEST_FILENAME }}
            ${{ inputs.packer_dir }}/${{ env.PACKER_LOG_FILENAME }}
