name: 'Module: AWS Release Prep'

on:
  workflow_call:
    inputs:
      ami_id:
        required: true
        type: string
      flavor:
        required: true
        type: string
      matlab_version:
        required: false
        type: string
      source_region:
        required: true
        type: string
      target_regions:
        required: true
        type: string
      metatemplate_file_path:
        type: string
    # secrets:
    #   AWS_OIDC_PROD_ROLE:
    #     required: true
env:
  TEMPLATE_GEN_MODE: 'release'
  METATEMPLATE_PATH: "./${{ inputs.metatemplate_file_path }}"
  TEMPLATE_FILENAME: "${{ inputs.matlab_version }}-release-template.json"
  RELEASE_ARTIFACT_NAME: "${{ inputs.matlab_version }}-release-template"

jobs:
  prep-release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Might need for S3/EC2 copy calls
      contents: read
    steps:
      - name: Distribute AMI
        id: distribute_ami
        uses: eshans-nexus/actions-templates/.github/actions/distribute-ami@main # Adjust path
        with:
          ami_id: ${{ inputs.ami_id }}
          source_region: ${{ inputs.source_region }}
          target_regions: ${{ inputs.target_regions }}
          matlab_version: ${{ inputs.matlab_version }}
          flavor: ${{ inputs.flavor }}
          test_mode: true
      
      - uses: actions/checkout@v4
      
      - name: Generate Release Template
        uses: eshans-nexus/actions-templates/.github/actions/create-aws-template@main
        with:
          region_map: ${{ steps.distribute_ami.outputs.region_map_json }}
          output_filename: ${{ env.TEMPLATE_FILENAME }}
          artifact_name: ${{ env.RELEASE_ARTIFACT_NAME }}
          metatemplate_file_path: ${{ env.METATEMPLATE_PATH }}

      - name: Push Template to Prod S3 (Placeholder)
        run: echo "Pushing ./prep-assets/patched-template.json to s3://prod-bucket/..."
