name: 'Module: SLSA Attestation'

on:
  workflow_call:
    inputs:
      template_artifact:
        required: true
        type: string
      packer_artifact:
        required: true
        type: string

jobs:
  attest:
    name: Create attestations
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
      contents: read
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.template_artifact }}
          path: ./artifacts
          
      - uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.packer_artifact }}
          path: ./artifacts

      - name: Attest Build Provenance
        id: attest
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: ./artifacts/*
