name: 'Module: AWS Release Prep'

on:
  workflow_call:
    inputs:
      ami_id:
        required: true
        type: string
      flavor:
        required: true
        type: string
      template_file_path:
        type: string
        default: "packer/v1/src/metatemplate.json"
      source_region:
        required: true
        type: string
        default: 'us-east-1'
      target_regions:
        required: true
        type: string
        default: 'us-east-1'
      matlab_version:
        required: false
        default: ""
        type: string
      is_supplementary_build:
        type: boolean
    secrets:
      AWS_OIDC_PROD_ROLE:
        required: true
env:
  TEMPLATE_GEN_MODE: 'release'
  METATEMPLATE_PATH: "./${{ inputs.template_file_path }}"
  TEMPLATE_FILENAME: "${{ inputs.matlab_version }}-release-template.json"
  RELEASE_ARTIFACT_NAME: "${{ inputs.matlab_version }}-release-template"

jobs:
  prep-release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Might need for S3/EC2 copy calls
      contents: read
    steps:
      # - name: Distribute AMI
      #   id: distribute_ami
      #   uses: eshans-nexus/actions-templates/.github/actions/distribute-ami@main # Adjust path
      #   with:
      #     ami_id: ${{ inputs.ami_id }}
      #     source_region: ${{ inputs.source_region }}
      #     target_regions: ${{ inputs.target_regions }}
      #     matlab_version: ${{ inputs.matlab_version }}
      #     flavor: ${{ inputs.flavor }}
      #     test_mode: true

      - name: Generate Release Template
        uses: eshans-nexus/actions-templates/.github/actions/create-aws-template@main
        with:
          metatemplate_path: ${{ env.METATEMPLATE_PATH }}
          mode: ${{ env.TEMPLATE_GEN_MODE }}
          ami_id: ${{ inputs.ami_id }}
          output_filename: ${{ env.TEMPLATE_FILENAME }}
          artifact_name: ${{ env.RELEASE_ARTIFACT_NAME }}

      - name: Push Template to Prod S3 (Placeholder)
        run: echo "Pushing ./prep-assets/patched-template.json to s3://prod-bucket/..."
