name: 'Module: Patch Template (Single AMI)'

on:
  workflow_call:
    inputs:
      template_path:
        required: true
        type: string
      ami_id:
        required: true
        type: string
      matlab_version:
        required: false
        default: ""
        type: string

jobs:
  patch:
    name: "${{ inputs.matlab_version }}: Patch template with new AMI"
    runs-on: ubuntu-latest
    steps:
      - name: Create Stage Template
        uses: ./.github/actions/create-aws-template
        with:
          template_path: ${{ inputs.template_path }}
          mode: 'stage'
          matlab_version: ${{ inputs.matlab_version }}
          ami_id: ${{ inputs.template_path }}
