name: 'Orchestrator: Single Version AWS Pipeline'

on:
  workflow_call:
    inputs:
      matlab_version:
        required: true
        type: string
      flavor:
        required: true
        type: string
      packer_dir:
        type: string
      template_file_path:
        type: string
      is_supplementary_build:
        type: boolean
      skip_build:
        type: boolean

jobs:
  build:
    uses: eshans-nexus/actions-templates/.github/workflows/module-aws-packer-build.yml@main
    with:
      packer_dir: ${{ inputs.packer_dir }}
      skip_build: ${{ inputs.skip_build }}
      matlab_version: ${{ inputs.matlab_version }}
    secrets: inherit

  smoke-test:
    if: ${{ inputs.is_supplementary_build == false }}
    needs: build
    uses: eshans-nexus/actions-templates/.github/workflows/module-aws-smoke-test.yml@main
    with:
      ami_id: ${{ needs.build.outputs.ami_id }}
      region: ${{ needs.build.outputs.region }}
      flavor: ${{ inputs.flavor }}
      template_file_path: ${{ inputs.template_file_path }}
      matlab_version: ${{ inputs.matlab_version }}
    secrets: inherit

  release:
    needs: [build]
    uses: eshans-nexus/actions-templates/.github/workflows/module-aws-release.yml@main
    with:
      ami_id: ${{ needs.build.outputs.ami_id }}
      flavor: ${{ inputs.flavor }}
      template_file_path: ${{ inputs.template_file_path }}
      source_region: 'us-east-1'
      target_regions: 'us-east-1'
      matlab_version: ${{ inputs.matlab_version }}
    secrets: inherit
