name: 'Orchestrator: AWS Supplementary Build Pipeline'

on:
  workflow_call:
    inputs:
      matlab_version:
        required: true
        type: string
      packer_dir:
        default: './packer/v1'
        type: string
      template_dir_pattern:
        default: './releases/{0}'
        type: string
      template_file_name:
        default: 'aws-matlab-template.json'
        type: string
      test_mode:
        default: false
        type: boolean

jobs:
  build:
    name: Run packer build
    uses: ./.github/workflows/packer-build-aws.yml
    with:
      matlab_version: ${{ inputs.matlab_version }}
      packer_dir: ${{ inputs.packer_dir }}
      test_mode: ${{ inputs.test_mode }}
    secrets: inherit

  patch:
    needs: build
    name: Patch template to use built AMI
    uses: ./.github/workflows/patch-template.yml
    with:
      template_path: ${{ format('{0}/{1}', format(inputs.template_dir_pattern, inputs.matlab_version), inputs.template_file_name) }}
      ami_id: ${{ needs.build.outputs.ami_id }}

  attest:
    needs: [build, patch]
    name: Attest builds to ensure authenticity
    uses: ./.github/workflows/slsa-attest.yml
    with:
      template_artifact: 'patched-template'
      packer_artifact: 'packer-artifacts'

  release:
    needs: [attest, patch, scan, build]
    if: inputs.test_mode == false
    name: Create GitHub release
    uses: ./.github/workflows/gh-release.yml
    with:
      version: ${{ inputs.matlab_version }}
      prerelease: true
      template_artifact: 'patched-template'
      packer_artifact: 'packer-artifacts'
      scan_artifact: 'trivy-results'
