name: 'Orchestrator: Single Version AWS Pipeline'

on:
  workflow_call:
    inputs:
      matlab_version:
        required: true
        type: string
      flavor:
        required: true
        type: string
      is_supplementary_build:
        required: true
        type: boolean
      packer_dir:
        required: false
        type: string
        default: 'packer/v1'
      metatemplate_file_path:
        required: false
        type: string
        default: 'src/meta-template.json'
      skip_build:
        required: true
        type: boolean
        default: false

jobs:
  build:
    uses: eshans-nexus/actions-templates/.github/workflows/module-aws-packer-build.yml@main
    with:
      matlab_version: ${{ inputs.matlab_version }}
      skip_build: ${{ inputs.skip_build }}
      packer_dir: ${{ inputs.packer_dir }}
    secrets: inherit

  smoke-test:
    needs: build
    uses: eshans-nexus/actions-templates/.github/workflows/module-aws-smoke-test.yml@main
    with:
      ami_id: ${{ needs.build.outputs.ami_id }}
      flavor: ${{ inputs.flavor }}
      matlab_version: ${{ inputs.matlab_version }}
      region: ${{ needs.build.outputs.region }}
      metatemplate_file_path: ${{ inputs.metatemplate_file_path }}
    secrets: inherit

  release:
    if: ${{ inputs.is_supplementary_build == false }}
    needs: [build, smoke-test]
    uses: eshans-nexus/actions-templates/.github/workflows/module-aws-release.yml@main
    with:
      ami_id: ${{ needs.build.outputs.ami_id }}
      flavor: ${{ inputs.flavor }}
      matlab_version: ${{ inputs.matlab_version }}
      source_region: ${{ needs.build.outputs.region }}
      target_regions: ${{ vars.TARGET_REGIONS }}
      metatemplate_file_path: ${{ inputs.metatemplate_file_path }}
      is_supplementary_build: ${{ inputs.is_supplementary_build }}
    secrets: inherit
