name: 'Orchestrator: GitHub Release'

on:
  workflow_call:
    inputs:
      target_versions:
        required: true
        type: string
      s3_bucket_url:
        required: true
        type: string
      dual_repo_url:
        required: true
        type: string
      artifacts_path:
        type: string
        default: ./artifacts
      release_template_name_pattern:
        type: string
        default: "*-release-template.json"
      release_files_pattern:
        default: "*"
        type: string
      release_tag:
        default: "Build-${{ github.run_number }}"
        type: string
      release_title:
        default: "Ref Arch Build ${{ github.run_number }}"
        type: string
      prerelease:
        default: false
        type: boolean
      generate_attestations:
        default: true
        type: boolean
      is_supplementary_build:
        type: boolean

jobs:

  commit-release-files:
    if: ${{ inputs.is_supplementary_build == false }}
    name: Commit release files into repository
    uses: eshans-nexus/actions-templates/.github/workflows/module-gh-commit-files.yml@main
    with: 
      target_versions: ${{ inputs.target_versions }}
      s3_bucket_url: ${{ inputs.s3_bucket_url }}
      dual_repo_url: ${{ inputs.dual_repo_url }}
      artifacts_path: ${{ inputs.artifacts_path }}
      release_template_name_pattern: ${{ inputs.release_template_name_pattern }}
    secrets: inherit

  publish-release-artifacts:
    name: Create Aggregate GH Release
    uses: eshans-nexus/actions-templates/.github/workflows/module-gh-create-release.yml@main
    with:
      release_files_pattern: ${{ inputs.release_files_pattern }} 
      release_tag: ${{ inputs.release_tag }}
      release_title: ${{ inputs.release_title }}
      prerelease: ${{ inputs.prerelease }}
      generate_attestations: ${{ inputs.generate_attestations }}
    secrets: inherit
  