name: 'Orchestrator: AWS Supplementary Build Pipeline'

on:
  workflow_call:
    inputs:
      matlab_version:
        required: true
        type: string
      flavor: 
        description: "Deployment flavor (matlab-linux, ps-linux, etc)"
        required: true
        type: string
      packer_dir:
        default: './packer/v1'
        type: string
      template_dir_pattern:
        default: './releases/{0}'
        type: string
      template_file_name:
        default: 'aws-matlab-template.json'
        type: string
      test_mode:
        default: false
        type: boolean

jobs:
  build:
    name: Run packer build
    uses: eshans-nexus/actions-templates/.github/workflows/module-packer-build-aws.yml@main
    with:
      matlab_version: ${{ inputs.matlab_version }}
      packer_dir: ${{ inputs.packer_dir }}
      test_mode: ${{ inputs.test_mode }}
    secrets: inherit

  patch:
    needs: build
    name: Patch template to use built AMI
    uses: eshans-nexus/actions-templates/.github/workflows/module-patch-template-aws.yml@main
    with:
      template_path: ${{ format('{0}/{1}', format(inputs.template_dir_pattern, inputs.matlab_version), inputs.template_file_name) }}
      ami_id: ${{ needs.build.outputs.ami_id }}

  attest:
    needs: [build, patch]
    name: Attest builds to ensure authenticity
    uses: eshans-nexus/actions-templates/.github/workflows/module-slsa-attest.yml@main
    with:
      template_artifact: 'patched-template'
      packer_artifact: 'packer-artifacts'

  smoke-test:
    if: inputs.test_mode == false
    needs: [build, patch]
    name: Smoke Test
    uses: eshans-nexus/actions-templates/.github/workflows/module-aws-smoke-test.yml@main
    with:
      template_artifact: 'patched-template'
      flavor: ${{ inputs.flavor }}
      # test_mode: ${{ inputs.test_mode }}
    secrets: inherit

  release:
    needs: [build, patch, attest, smoke-test]
    # if: inputs.test_mode == false
    name: Create GitHub release
    uses: eshans-nexus/actions-templates/.github/workflows/module-gh-release.yml@main
    with:
      version: ${{ inputs.matlab_version }}
      flavor: ${{ inputs.flavor }}
      ami_id: ${{ needs.build.outputs.ami_id }}
      attestation_url: ${{ needs.attest.outputs.attestation_url }}
      prerelease: false
      template_artifact: 'patched-template'
      packer_artifact: 'packer-artifacts'