name: 'Orchestrator: GitHub Release'

on:
  workflow_call:
    inputs:
      target_versions:
        required: true
        type: string
      files_pattern:
        required: true
        type: string
      generate_attestations:
        default: true
        type: boolean
      s3_bucket_url:
        required: true
        type: string
      dual_repo_url:
        required: true
        type: string
      is_supplementary_build:
        type: boolean

jobs:
  debug:
    steps:
      - name: Flatten Artifacts
        shell: bash
        run: |
          echo ${{ inputs.target_versions }}

  commit-release-files:
    # if: ${{ inputs.is_supplementary_build == false }}
    name: Commit release files into repository
    uses: eshans-nexus/actions-templates/.github/workflows/module-gh-commit-files.yml@main
    with: 
      target_versions: ${{ inputs.target_versions }}
      s3_bucket_url: ${{ inputs.s3_bucket_url }}
      dual_repo_url: ${{ inputs.dual_repo_url }}
    secrets: inherit

  publish-release-artifacts:
    name: Create Aggregate GH Release
    uses: eshans-nexus/actions-templates/.github/workflows/module-gh-create-release.yml@main
    with:
      files_pattern: "*" 
      release_tag: "Build-${{ github.run_number }}"
      release_title: "Ref Arch Build ${{ github.run_number }}"
      generate_attestations: ${{ inputs.generate_attestations }}
    secrets: inherit
  