name: 'Orchestrator: Single Version AWS Pipeline'

on:
  workflow_call:
    inputs:
      matlab_version:
        required: true
        type: string
      flavor:
        required: true
        type: string
      packer_dir:
        type: string
      template_dir_pattern:
        default: './releases/{0}' # kept to document correct pattern syntax
        type: string
      template_file_name:
        type: string
      test_mode:
        type: boolean
      artifact_suffix:
        required: true
        type: string

jobs:
  build:
    name: ${{ inputs.artifact_suffix }}
    uses: eshans-nexus/actions-templates/.github/workflows/module-packer-build-aws.yml@main
    with:
      matlab_version: ${{ inputs.matlab_version }}
      packer_dir: ${{ inputs.packer_dir }}
      test_mode: ${{ inputs.test_mode }}
      artifact_suffix: ${{ inputs.artifact_suffix }}
    secrets: inherit

  patch:
    needs: build
    name: ${{ inputs.artifact_suffix }}
    uses: eshans-nexus/actions-templates/.github/workflows/module-patch-template-aws.yml@main
    with:
      template_path: ${{ format('{0}/{1}', format(inputs.template_dir_pattern, inputs.matlab_version), inputs.template_file_name) }}
      ami_id: ${{ needs.build.outputs.ami_id }}
      artifact_suffix: ${{ inputs.artifact_suffix }}

  attest:
    needs: [build, patch]
    name: ${{ inputs.artifact_suffix }}
    uses: eshans-nexus/actions-templates/.github/workflows/module-slsa-attest.yml@main
    with:
      template_artifact: 'patched-template-${{ inputs.artifact_suffix }}'
      packer_artifact: 'packer-artifacts-${{ inputs.artifact_suffix }}'

  smoke-test:
    needs: [build, patch]
    name: ${{ inputs.artifact_suffix }}
    uses: eshans-nexus/actions-templates/.github/workflows/module-aws-smoke-test.yml@main
    with:
      template_artifact: 'patched-template'
      region: ${{ needs.build.outputs.region }}
      flavor: ${{ inputs.flavor }}
      artifact_suffix: ${{ inputs.artifact_suffix }}
    secrets: inherit

  prepare-release:
    needs: [build, patch, attest, smoke-test]
    name: ${{ inputs.artifact_suffix }}
    uses: eshans-nexus/actions-templates/.github/workflows/module-aws-release.yml@main
    with:
      version: ${{ inputs.matlab_version }}
      flavor: ${{ inputs.flavor }}
      ami_id: ${{ needs.build.outputs.ami_id }}
      template_artifact: 'patched-template-${{ inputs.artifact_suffix }}'
      packer_artifact: 'packer-artifacts-${{ inputs.artifact_suffix }}'
      artifact_suffix: ${{ inputs.artifact_suffix }}
    secrets: inherit
